{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_category_post_index' %}

{% block main %}
    <div class="box">
        <div class="box-header">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.post.title'|trans }}</th>
                    <th>{{ 'label.post.slug'|trans }}</th>
                    <th><i class="fa fa-cogs"> {{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.slug }}</td>
                        <td>
                            <div class="item-actions">
                                <a href="{{ path('admin_post_category_show', { id: category.id }) }}" class="btn btn-sm btn-default">
                                    {{ 'action.show'|trans }}
                                </a>

                                {% if category.isAuthor(app.user) %}
                                    <a href="{{ path('admin_post_category_edit', { id: category.id }) }}" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                                    </a>
                                {% endif %}
                                <a href="{{ path('admin_post_list', { id: category.id }) }}" class="btn btn-sm btn-default">
                                    {{ 'action.category.list'|trans }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>{{ 'label.post.title'|trans }}</th>
                    <th>{{ 'label.post.slug'|trans }}</th>
                    <th><i class="fa fa-cogs"> {{ 'label.actions'|trans }}</th>
                </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_category_new',{ type: type.code }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.category.create'|trans }}
        </a>
    </div>

{% endblock %}
