{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_banner_new' %}

{% block main %}
    <h3>{{ 'title.banner.new'|trans }}</h3>

    {#{{ include('admin/banner/_form.html.twig') }}#}
    {{ include('admin/banner/_form.html.twig', {
        form: form,
        button_label: 'action.banner.save'|trans,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $(function () {
            tinymce.init({
                selector: '#app_banner_description',
                height: 500,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true,
                templates: [
                    { title: 'Test template 1', content: 'Test 1' },
                    { title: 'Test template 2', content: 'Test 2' }
                ]
//                content_css: [
//                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
//                    '//www.tinymce.com/css/codepen.min.css'
//                ]
            });
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            //CKEDITOR.replace('app_post[content]');

        });
    });
</script>

{% endblock %}
