{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_banner_show' %}

{% block main %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.banner.description'|trans }}</th>
                <td>{{ banner.description|md2html }}</td>
            </tr>            
            <tr>
                <th>{{ 'label.banner.uploadLogo'|trans }}</th>
                <td><img src="{{ asset('uploads/banners/') }}{{ banner.image }}" with="100px" height="100px"></td>
            </tr>
            <tr>
                <th>{{ 'label.banner.createdAt'|trans }}</th>
                <td><p>{{ banner.createdAt|localizeddate('long', 'medium') }}</p></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('admin_banner_index') }}"> {{ 'action.banner.back_to_list'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_banner_edit', { id: banner.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.banner.edit'|trans }}
        </a>
    </div>
        <div class="section">
            {{ include('admin/banner/_form.html.twig', {
                form: delete_form,
                button_label: 'action.banner.delete'|trans,
                button_css: 'btn btn-lg btn-block btn-danger',
                include_back_to_home_link: false
            }, with_context = false) }}
        </div>


{% endblock %}
