{% extends 'layout.html.twig' %}

{% block main %}
<div class="col-md-9">
    <div class="news-detail">
        <div class="news-block">
            <h1> {{ news.title }} </h1>
            <div class="date">{{ news.publishedAt|localizeddate('medium', 'short')}} </div>
            <div class="content">
                {{ news.content | md2html }}
            </div>
            <div class="social-group">
            </div>
        </div>
        <div class="news-other">
            <h3><span>Tin tức liên quan</span></h3>
            <ul>
                {% for news in related_news %}
                    {% set url =  path('news_show', { slug: news.slug }) %}
                <li>
                    <a href="{{ url }}">{{ news.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var owl = $("#small-image");
        owl.owlCarousel({
            autoPlay: true,
            autoPlay: 5000,
            items: 4,
            slideSpeed: 1000,
            pagination: false,
            itemsDesktop: [1200, 4],
            itemsDesktopSmall: [980, 4],
            itemsTablet: [767, 4],
            itemsMobile: [480, 3]
        });
        $(".small-image-content .nextlogo").click(function () {
            owl.trigger('owl.next');
        });
        $(".small-image-content .prevlogo").click(function () {
            owl.trigger('owl.prev');
        });
    </script>
{% endblock %}