<!-- Sidebar user panel -->
{#<div class="user-panel">#}
                    {#<div class="pull-left image">#}
                        {#<img src="{{ asset('images/admin/user2-160x160.jpg') }}" class="img-circle" alt="User Image">#}
                    {#</div>#}
                    {#<div class="pull-left info">#}
                        {#<p>Alexander Pierce</p>#}
                        {#<a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
                    {#</div>#}
                {#</div>#}
<!-- search form -->
{#<form action="#" method="get" class="sidebar-form">#}
                    {#<div class="input-group">#}
                        {#<input type="text" name="q" class="form-control" placeholder="Search...">#}
              {#<span class="input-group-btn">#}
                {#<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
              {#</span>#}
                    {#</div>#}
                {#</form>#}
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">QUẢN LÝ HỆ THÔNG</li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.menu.management'|trans|upper|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            {#<li class="active">#}
                {#<a href="{{ path('admin_menu_new') }}">#}
                    {#<i class="fa fa-circle-o"></i> {{ 'title.menu.new'|trans }}#}
                {#</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('admin_menu_index') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.menu.list'|trans }}
                </a></li>
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.customer.management'|trans|upper|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
            <a href="{{ path('admin_customer_new') }}">
            <i class="fa fa-circle-o"></i> {{ 'title.customer.new'|trans }}
            </a>
            </li>
            <li>
                <a href="{{ path('admin_customer_index') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.customer.list'|trans }}
                </a></li>
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.banner.management'|trans|upper|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="{{ path('admin_banner_new') }}">
                    <i class="fa fa-circle-o"></i> {{ 'title.banner.new'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_banner_index') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.banner.list'|trans }}
                </a></li>
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{ 'title.field.management'|trans|upper }}</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="{{ path('admin_post_category_new', { type: 1}) }}"><i class="fa fa-circle-o"></i> {{ 'title.field.new'|trans }}</a></li>
            <li><a href="{{ path('admin_post_category_index', { type: 1}) }}"><i class="fa fa-circle-o"></i> {{ 'title.field.list'|trans }}</a></li>
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{ 'title.project.management'|trans|upper }}</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="{{ path('admin_post_category_new', { type: 2}) }}"><i class="fa fa-circle-o"></i> {{ 'title.project.new'|trans }}</a></li>
            <li><a href="{{ path('admin_post_category_index', { type: 2}) }}"><i class="fa fa-circle-o"></i> {{ 'title.project.list'|trans }}</a></li>
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.news.management'|trans|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="{{ path('admin_post_category_new',{ type: 3 }) }}">
                    <i class="fa fa-circle-o"></i> {{ 'title.news.new'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_post_category_index', {type:3}) }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.news.list'|trans }}
                </a></li>
        </ul>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.recruit.management'|trans|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="{{ path('admin_post_category_new',{ type: 4 }) }}">
                    <i class="fa fa-circle-o"></i> {{ 'title.recruit.new'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_post_category_index', {type: 4}) }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.recruit.list'|trans }}
                </a></li>
        </ul>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>{{ 'title.user.management'|trans|upper }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active">
                <a href="{{ path('admin_user_new') }}">
                    <i class="fa fa-circle-o"></i> {{ 'title.user.new'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_user_index') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ 'title.user.list'|trans }}
                </a></li>
        </ul>
    </li>
</ul>